.logindiv{
    width: 32pc;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10pc;
}
#primapybut{
    float: right;

}
.errorconfirm{
    border: 2px solid red;
    border-radius: .2pc;
}