<div class = "logindiv">
    <h3 style = "margin-bottom: 2pc;">Login For Acessing your notes</h3>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">**</span>
        <input type="text" class="form-control" placeholder="Password" aria-label="Password"
            aria-describedby="basic-addon1">
        </div>
        <p>No made an account yet ? Sign Up to Continue</p>
        <button type="button" class="btn btn-outline-primary" id = "primapybut">Login</button>
</div>